<div class="flex flex-col gap-3 w-full">
    {% for project in projects %}
        <a target="_blank" href="{{ project.github_link }}">
            <div class="card bg-base-100 w-full ">
                <div class="card-body transition hover:bg-neutral hover:text-white">
                    <h2 class="text-4xl break-normal">
                        {{ project.name }}
                    </h2>
                    <p class="text-2xl">{{ project.description }}</p>
                    <div class="card-actions mt-2">
                        {% for skill in project.skills.all %}
                            <div class="badge badge-xl badge-outline">{{ skill.name }}</div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

</div>