<div class="grid grid-cols-2">
    {% for project in projects %}
        <div class="card bg-base-100 w-96 ">
            <div class="card-body">
                <h2 class="card-title break-normal">
                    {{ project.name }}
                </h2>
                <p>{{ project.description }}</p>
                <div class="card-actions mt-2">
                    {% for skill in project.skills.all %}
                        <div class="badge badge-outline">{{ skill.name }}</div>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endfor %}

</div>