{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Portfolio
{% endblock %}
{% block content %}
    <section class="space-y-4">
        <h1 class="mt-2 mx-[10%] text-7xl">HEY, I'M JOSE MATA
        </h1>
    </section>

    <div x-data="{
    skills: [],
    page: 1
    }" class="mx-[20%]">
        <p class="mt-10 text-justify text-2xl p-4">{{ site_info.about_me }}</p>

        <hr class="border-orange-300 my-4">
        <section class="mt-10">
            <div class="">
                <h2 class="text-4xl">SKILLS</h2>
            </div>
            <div class="grid grid-cols-2 mt-10 p-4 rounded-4xl">
                {% for skill in skills %}
                    <div class="flex justify-center w-full">
                    <span
                            class="text-xl text-center transition-colors duration-150 font-bold cursor-pointer px-2 rounded-full"
                            :class="skills.includes('{{ skill.name }}') ? 'text-orange-300' : 'hover:text-orange-300'"
                            hx-get="{% url 'filter_projects' %}"
                            hx-target="#project_list"
                            :hx-vals="JSON.stringify({ skills: skills })"
                            hx-swap="innerHTML"

                    ><span
                            @click="toggleSkill('{{ skill.name }}', $data)"
                            hx-get="{% url 'filter_experiences' %}"
                            hx-target="#experience_list"
                            :hx-vals="JSON.stringify({ skills, page })"
                    >{{ skill.name }}</span></span>
                    </div>
                {% endfor %}
            </div>

        </section>
        <hr class="border-orange-300 my-4">
        <section class="mt-10">
            <h2 class="text-4xl mb-4">PROJECTS</h2>
            <div id="project_list">
                {% include 'portfolio/partials/project_list.html' with page_obj=projects_page_obj %}
            </div>

        </section>
        <hr class="border-orange-300 my-4">
        <section class="mt-10 mb-20">
            <h2 class="text-4xl">EXPERIENCES</h2>
            <div id="experience_list">
                {% include 'portfolio/partials/experience_list.html' with experiences=experiences %}
            </div>
        </section>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'portfolio/home.js' %}"></script>
{% endblock %}