{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Portfolio
{% endblock %}
{% block content %}
    <h1 class="text-7xl text-center mt-2">Jose Alberto Mata</h1>
    <p class="mt-10 text-justify text-2xl">{{ site_info.about_me }}</p>
    <section x-data="{skills:[]}" class="mt-10 grid grid-cols-3 md:grid-cols-6 xl:grid-cols-7 gap-1">
        {% for skill in skills %}
            <div class="flex justify-center">
                <span
                      class="badge badge-xl cursor-pointer py-4"
                      :class="skills.includes('{{ skill.name }}') ? 'badge-neutral hover:bg-base-100 hover:text-neutral-950' : 'badge-outline hover:bg-neutral-950 hover:text-neutral-50'"
                      hx-get="{% url 'filter_projects' %}"
                      hx-target="#project_list"
                      :hx-vals="JSON.stringify({ skills: skills })"

                ><span
                        @click="toggleSkill('{{ skill.name }}', $data)"
                        hx-get="{% url 'filter_experiences' %}"
                        hx-target="#experience_list"
                        :hx-vals="JSON.stringify({ skills: skills })"
                >{{ skill.name }}</span></span>
            </div>
        {% endfor %}
    </section>
    <section class="mt-10">
        <h2 class="text-5xl text-center">Projects</h2>
        <div id="project_list">
            {% include 'portfolio/partials/project_list.html' with projects=projects %}
        </div>
    </section>
    <section class="mt-10 mb-20">
        <h2 class="text-5xl text-center">Experiences</h2>
        <div id="experience_list">
            {% include 'portfolio/partials/experience_list.html' with experiences=experiences %}
        </div>
    </section>

{% endblock %}

{% block custom_script %}
    <script src="{% static 'portfolio/home.js' %}"></script>
{% endblock %}